$white: #ffffff;
$black: #000000;
$bg-containet: #F5F8FF;
$title: #3D4F9F;;

$fz-header: 1.2rem;
$fz-sub-title: 1rem;
$fz-title: 4.8rem;
$fz-title-container: 2.4rem;
$fz-text: 1.5rem;

$z-index-header: 1000;
