.slider {
    display: block;
    width: 100%;
    
    .slick-prev,
    .slick-next{
        width: 23px;
        height: 20px;
        font-size: 0;
        color: transparent;
        top: 50%;
        position: absolute;
        background-color: transparent;
        border: none;
        z-index: 2;
    }
    
    .slick-prev {
        left: 5%;
        
        background-image: url(../images/arrow.svg);
        background-repeat: no-repeat;
    }
    
    .slick-next {
        right: 5%;
        background-image: url(../images/arrow.svg);
        background-repeat: no-repeat;
        transform: rotate(180deg);
    }
    
    .slider__item {
        display: flex;
        justify-content: center;
        padding: 65px 35px;
        margin: 3rem 47rem;
        margin-top: 9rem;
        background-color: $white;
        
        border: 1px solid #D8E3FE;
        box-sizing: border-box;
        box-shadow: 0px 15px 50px #EFF4FF;
        
        .slider__item-imgs {
            display: flex;
            .images {
                display: flex;
                img {
                    margin-right: 12px;
                }
                
                .block {
                    
                    & img {
                        display: flex;
                        flex-wrap: wrap;
                        
                        margin-right: 0;
                        margin-bottom: 69px;
                        
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        
        .slider__item-text {
            margin-left: 65px;
            text-align: left;
            
                .slider__text {

                .sub-title,
                .title,
                .text,
                .play-video {
                    margin-left: 0;
                    margin-right: 0;
                    text-align: left;
                }
                    
                .title {
                    font-size: 36px;
                    font-weight: 400;
                    margin-bottom: 3rem;
                }

                .text {
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 2;
                }

                .red-btn {
                    background-color: #D2E1FF;
                    border-radius: 3px;
                    cursor: pointer;

                    color: #3A79FF;
                    font-size: 1.3rem;
                    font-weight: 700;

                    padding: 1.3rem 1.5rem;
                    text-align: left;

                    transition: all .2s linear;

                    &:hover {
                        background-color: lighten( #D2E1FF, 5% );
                    }
                }

                .btn-block {
                    justify-content: flex-start;
                    text-align: left;
                    margin-top: 6rem;
                    

                    .btn-block-text {
                        color: #A6B6DA;
                        font-size: 1.3rem;
                        font-weight: 700;
                        text-align: center;
                        text-transform: none;

                    }
                }
            }
        }
    }
}