.nav {
    display: flex;
    margin: auto 0;
    margin-left: 75px;
    text-align: center;
    
    .nav__item {
        margin-right: 4rem;
        
        &:last-child {
            margin-right: 0;
        }
        
        .nav__link {
            text-decoration: none;
            color: #697CA6;
            transition: color .2s linear;
            
            font-weight: 500;
            font-size: $fz-header;
            
            &.active {
                color: #5E81FE;
            }
            
            &:hover {
                color: #5E81FE;
            }
        }
    }
}