    
    .skay {
        position: absolute;

        background-color: $white;
        
        border: 2px solid $white;
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;  
    }
    
    #skay1 {
        top: 92px;
        left: 253px;
        
        width: 45px;
        height: 23px;
    }
    #skay2 {
        top: 50%;
        left: -6%;
        
        width: 140px;
        height: 76px;
    }
    #skay3 {
        top: 386px;
        left: 307px;
        
        width: 20px;
        height: 10px;
    }
    #skay4 {
        top: 398px;
        left: 253px;
        
        
        width: 20px;
        height: 10px;
    }
    #skay5 {
        top: 396px;
        left: 261px;
        
        
        width: 50px;
        height: 25px;
    }
    #skay6 {
        top: 404px;
        left: 294px;
        
        
        width: 32px;
        height: 16px;
    }
    #skay7 {
        top: 37px;
        right: 201px;
        
        
        width: 32px;
        height: 16px;
    }
    #skay8 {
        top: 53px;
        right: 138px;
        
        
        width: 80px;
        height: 40px;
    }
    #skay9 {
        top: 86px;
        right: 138px;
        
        
        width: 45px;
        height: 23px;
        
    }
    #skay10 {
        bottom: 80px;
        right: -3%;
        
        
        width: 100px;
        height: 50px;
    }
    #skay11 {
        bottom: 41px;
        right: 252px;
        
        
        width: 100px;
        height: 50px;
    }
    #skay12 {
        bottom: 41px;
        right: 202px;
        
        
        width: 70px;
        height: 35px;
    }
    #skay13 {
        bottom: 84px;
        right: 235px;
        
        
        width: 50px;
        height: 25px;
    }
    #skay14 {
        top: 140px;
        left: 225px;
        border: none;
        
        background-color: #E1EAFF;
        
        
        width: 46px;
        height: 23px;
    }
    #skay15 {
        top: 140px;
        left: 260px;
        border: none;
        
        background-color: #E1EAFF;
        opacity: .4;
        
        
        width: 20px;
        height: 10px;
    }
    #skay16 {
        bottom: 201px;
        left: 155px;
        border: none;
        
        background-color: #E1EAFF;
        
        
        width: 80px;
        height: 40px;
    }
    #skay17 {
        bottom: 213px;
        left: 209px;
        border: none;
        
        background-color: #E1EAFF;
        opacity: .8;
        
        width: 32px;
        height: 16px;
    }
    #skay18 {
        bottom: 232px;
        left: 162px;
        border: none;
        
        background-color: #E1EAFF;
        opacity: .5;
        
        width: 32px;
        height: 16px;
    }
    #skay19 {
        bottom: 213px;
        left: 126px;
        border: none;
        
        background-color: #E1EAFF;
        opacity: .6;
        
        width: 42px;
        height: 21px;
    }
    #skay20 {
        top: 219px;
        right: 139px;
        border: none;
        
        background-color: #E1EAFF;
        
        width: 80px;
        height: 40px;
    }
    #skay21 {
        top: 239px;
        right: 114px;
        border: none;
        
        background-color: #E1EAFF;
        opacity: .8;
        
        width: 50px;
        height: 25px;
    }
    #skay22 {
        top: 203px;
        right: 114px;
        border: none;
        
        background-color: #E1EAFF;
        opacity: .5;
        
        width: 32px;
        height: 16px;
    }
    #skay23 {
        top: 222px;
        right: 193px;
        border: none;
        
        background-color: #E1EAFF;
        opacity: .7;
        
        width: 32px;
        height: 16px;
    }
    #skay24 {
        top: 90px;
        left: 121px;
        border: none;
        
        background-color: #6C8BFF;
        
        width: 150px;
        height: 75px;
    }
    #skay25 {
        top: 70px;
        left: 63px;
        border: none;
        
        background-color: #6C8BFF;
        opacity: .8;
        
        width: 140px;
        height: 70px;
    }
    #skay26 {
        top: 147px;
        left: 54px;
        border: none;
        
        background-color: #567AFF;
        
        width: 120px;
        height: 60px;
    }
    #skay27 {
        bottom: 60px;
        left: 160px;
        border: none;
        
        background-color: #567AFF;
        
        width: 140px;
        height: 70px;
    }
    #skay28 {
        bottom: 96px;
        left: 111px;
        border: none;
        
        background-color: #567AFF;
        
        width: 50px;
        height: 25px;
    }
    #skay29 {
        bottom: 70px;
        right: 103px;
        border: none;
        
        background-color: #6C8BFF;
        
        width: 300px;
        height: 150px;
    }
    #skay30 {
        bottom: 113px;
        right: 350px;
        border: none;
        
        background-color: #567AFF;
        
        width: 160px;
        height: 80px;
    }
    #skay31 {
        bottom: 113px;
        right: 90px;
        border: none;
        
        background-color: #567AFF;
        
        width: 120px;
        height: 60px;
    }
    #skay32 {
        bottom: 185px;
        right: 240px;
        border: none;
        
        background-color: #6E8DFF;
        
        width: 140px;
        height: 70px;
    }

























